doctype html
html
    head
        title lol
        script(src="https://vuejs.org/js/vue.js" type="text/javascript")
        script(src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js")
        script.
            window.onload = function(){
                var me;
                
                Vue.component('demo-grid', {
                    template: '#grid-template',
                    props: {
                        data: Array,
                        columns: Array,
                        filterKey: String
                    },
                    data: function () {
                        var sortOrders = {}
                        this.columns.forEach(function (key) {
                            sortOrders[key] = 1
                        })
                        return {
                            sortKey: '',
                            sortOrders: sortOrders
                        }
                    },
                    methods: {
                        sortBy: function (key) {
                            this.sortKey = key
                            this.sortOrders[key] = this.sortOrders[key] * -1
                        }
                    }
                })

                v= new Vue({
                    el: '#app',
                    data: {
                        message: 'Hello Vue.js!',
                        me : me,
                        newdomain: '',
                        mypath : '/graylog_0/_search',
                        searchQuery: '',
                        domains: {}
                    },
                    computed: {
                        results : function() {

                        }
                    },
                    ready() {

                        this.$http.get('/api/domains/').then((response) => {
                            this.domains = response.data
                        }, (response) => {
                            // error callback
                        });

                    },
                    
                    methods: {
                        adddomain: function (event) {
                            console.log(event)
                            domain = {
                                domain: this.newdomain,
                                expiry: ''
                            }
                            this.$http.get('/api/domains/_search?domain=' + this.newdomain).then((response) => {
                                domain = response.data
                                console.log(domain)
                                this.domains[domain.domain] = domain
                                console.log(this.domains)
                            }, (response) => {
                                // error callback
                            });
                            this.newdomain = ''
                        }
                    }
                 
                  
                })
            }
            
            
    body#app
        h1 Mera Dashboard
            
        input(name="query" v-model="searchQuery" placeholder="filter") 
        
        table
            tr
                th Domain
                th Expiry
            tr(v-for="(key, val) in domains")
                td {{key }}
                td {{val.expiry}}

            
        input(name="query" v-model="newdomain" placeholder="newdomain.example" v-on:keyup.enter="adddomain") 