doctype html
html
    head
        title lol
        script(src="https://vuejs.org/js/vue.js" type="text/javascript")
        script(src="https://cdn.jsdelivr.net/vue.resource/0.9.3/vue-resource.min.js")
        script.
            window.onload = function(){
                var me;

                v= new Vue({
                    el: '#app',
                    data: {
                        message: 'Hello Vue.js!',
                        me : me,
                        newdomain: '',
                        mypath : '/graylog_0/_search',
                        searchQuery: '',
                        domains: [],
                        time_now: Date.now()
                    },
                    computed: {
                        results : function() {

                        }
                    },
                    ready() {
        
                        this.$http.get('/api/domains/').then((response) => {
                            this.domains = response.data
                        }, (response) => {
                            // error callback
                        });
                        
                        setInterval(function(){ v.time_now = Date.now() }, 1000);
                    },
                    
                    methods: {
                        adddomain: function (event) {
                            console.log(event)
                            domain = {
                                domain: this.newdomain,
                                expiry: ''
                            }
                            this.$http.get('/api/domains/_search?domain=' + this.newdomain).then((response) => {
                                domain = response.data
                                console.log(domain)
                                this.domains.push(domain)
                                console.log(this.domains)
                            }, (response) => {
                                // error callback
                            });
                            this.newdomain = ''
                        },
                        days_rem: function(domain) {
                            //console.log('here')
                            domain.days_rem = (Date.parse(domain.expiry) - this.time_now) / 1000 / 60 / 60 / 24
                            //console.log(Date.parse(domain.expiry) - Date.now())
                            return domain.days_rem
                        },
                        
                        domain_style: function (domain) {
                            var red = 0
                            var green = 255
                            var blue = 0
                            console.log(domain.days_rem)
                            domain.days_rem = (Date.parse(domain.expiry) - this.time_now) / 1000 / 60 / 60 / 24
                            if( domain.days_rem <= 100) {
                                red = parseInt((100-domain.days_rem)/100*255*2)
                                green = 0
                            }
                            else{
                                red = 0
                                green = 100
                            }
                            
                            return { 
                                color: 'rgb(' + red + ',' + green  + ' , ' + blue + ')',
                                fontSize: (red/255*5 + 14) + 'px'
                            }
                        }
                    }
                 
                  
                })
            }
            
            
    body#app
        h1 Mera Dashboard
            
        input(name="query" v-model="searchQuery" placeholder="filter") 
        
        table
            tr
                th Domain
                th Expiry
                th Days Remaining
            tr(v-for="domain in domains" v-bind:style="domain_style(domain)")
                td {{domain.domain }}
                td {{domain.expiry}}
                td {{ days_rem(domain) }}

            
        input(name="query" v-model="newdomain" placeholder="newdomain.example" v-on:keyup.enter="adddomain") 